@mixin component {
  display: flex;
  align-items: center;
}

@mixin underline($bg-color) {
  width: 40px;
  height: 2.5px;
  background-color: $bg-color;
  border-radius: 2px;
  margin-top: 4px;
}

@mixin button {
  background: linear-gradient(90deg, #00a7c8 0%, #00a7c8 85%, #008ab0 100%);
  border: none;
  border-radius: 30px;
  padding: 14px 35px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(0, 157, 196, 0.2);

  .arrows {
    margin-left: 5px;
    font-size: 20px;
  }
}

@mixin btn {
  .custom-btn {
    @include button;
    height: 60px;
    width: 230px;
  }
}

@mixin fonts {
  padding-bottom: 40px;
  font-size: 16px;
  font-weight: 400;
  color: #6c7a89;
  line-height: 1.6;
}

@mixin bold {
  font-weight: 600;
  color: $text-blue;
}

@mixin container {
  margin-top: 80px;
  margin-left: 360px;
  height: 516px;
  display: flex;
}

@mixin para {
  .right2 {
    margin-top: 30px;
    margin-right: 100px;

    .p1 {
      font-size: 20px;
      font-weight: 500;
      color: #6c7a89;
      line-height: 1.2;
    }

    .p2 {
      font-size: 36px;
      font-weight: 600;
      color: #34495e;
      line-height: 1.4;
    }

    .p3 {
      font-size: 16px;
      font-weight: 400;
      color: #6c7a89;
      line-height: 1.6;
    }
  }
}

.right2 {
  margin: -30px 0 0 320px;
  padding: 25px;

  .p1 {
    font-size: 15px;
    color: $header-color;
  }

  .p2 {
    font-size: 30px;
    font-weight: 300;
    color: $text-blue;

    span {
      font-weight: 700;
      color: $text-blue;
    }
  }

  .p3 {
    @include fonts;
    font-size: 14px;
    margin-top: 22px;
    line-height: 2;
  }

  .ul-union {
    display: flex;
    gap: 5px;

    .underline1 {
      @include underline($text-orange);
    }

    .underline2 {
      @include underline($text-orange);
      width: 8px;
    }
  }
}

@mixin frame {
  display: flex;
  gap: 20px;

  &-para {
    font-size: 15px;
    font-weight: 500;
  }
}

@mixin arrow {
  font-weight: 500;
  font-size: 16px;
  display: flex;
  margin-top: 35px;
  color: $header-color;
  gap: 10px;
}

@mixin cards {
  height: 612px;
  width: 362px;
  border-radius: 15px;
}

@mixin bttn {
  height: 50px;
  width: 270px;
  border-radius: 30px;
  margin-left: 40px;
  margin-top: 50px;
  border: none;
}

@mixin container5 {
  margin-top: 80px;
  height: 226px;
  margin-left: 130px;
  width: 215px;

  .para1 {
    margin-top: 30px;
    font-size: 18px;
    font-weight: 600;
    color: $text-blue;
  }

  .para2 {
    @include fonts;
    font-size: 15px;
    margin-top: 20px;
  }
}


@mixin Blog {
  height: 580px;
  width: 362px;
  background-color: $text-light;

  img {
    height: 280px;
    width: 330px;
    margin-left: 15px;
    margin-top: 15px;
    z-index: 0;
  }

  p {
    color: $text-blue;
    font-size: 22px;
    margin-left: 15px;
    margin-top: 15px;
  }

  .border {
    border-bottom: 3px dashed rgb(226, 225, 225);
    padding-bottom: 1px;
  }

  &_para1 {
    p {
      font-size: 17px;
      color: gray;
      line-height: 1.5;
    }
  }

  &_para2 {
    p {
      
      font-size: 18px;
      a{
        text-decoration: none;
        color: $text-blue;
      }

      span {
        color: $header-color;
        font-weight: 800;
      }
    }
  }
}

@mixin flex($justify: space-between, $align: center, $wrap: wrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

@mixin frame {
  max-width: 305px;
  &-p1 {
    font-size: 16px;
    color: $text-blue;
    margin-top: -27px;
    margin-left: 30px;
    font-weight: 600;
  }
  &-p2 {
    color: gray;
    margin-left: 35px;
    line-height: 1.8;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin respond($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: $mobile-breakpoint) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media (max-width: $tablet-breakpoint) {
      @content;
    }
  }
}

@mixin line {
  .ul-union {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;

    .underline1 {
      margin-top: -15px;
      height: 3px;

      width: 30px;
    }
  }
}

@mixin drcards {
  height: 226px;
  max-width: 340px;
  text-align: center;

  &_p1 {
    font-size: 18px;
    color: $text-blue;
    font-weight: 600;
  }
  &_p2 {
    color: gray;
    font-size: 15px;
    line-height: 1.6;
  }
}

@mixin ul {
  .ul-union {
    display: flex;
    gap: 5px;
    margin-bottom: -20px;

    .underline1 {
      @include underline($text-orange);
      margin-left: 650px;
    }

    .underline2 {
      @include underline($text-orange);
      width: 7px;
    }
  }
}

@mixin team{
    height: 420px;
        background-color: #f1f9fc;
        transition-duration: 0.5s;
        max-width: 263px;
        border-bottom: 2px solid #018eb4;
        .p1 {
          color: $text-blue;
          margin-left: 70px;
          margin-bottom: -10px;
          font-size: 20px;
        }
        .p2 {
          color: $header-color;
          margin-left: 85px;
          font-size: 16px;
          font-weight: 600;
        }
}