$main-width: 1920px;
$header-color: #018eb4;
$text-light: white;
$text-orange: #ffa903;
$text-blue: #0c2d4e;
$btn-light:#f1f9fc;
$primary-color: #1a366b;
$highlight-gradient: linear-gradient(to top, #018eb4 0%, #ffffff 185%);
$footer:rgb(199, 194, 194);


// Variables (example, you can keep your existing ones)
$font-family: "Poppins", sans-serif;
$text-color: #333;
$header-color: #008cba;
$mobile-breakpoint: 768px;
$tablet-breakpoint: 1024px;


$primary-color: #0f3959;
$secondary-color: #0e2238;
$text-color: #ffffff;
$link-color: #56ccf2;
$input-bg: #1e4462;
$input-text: #ffffff;
$accent-color: #00bcd4;
$footer-bg: #061b2a;




$timeline-color: #0076a8;
$background-color: #f4fafd;

