@import "./variable";

@import "./mixin";

// Global styles
body {
  font-family: $font-family;
  margin: 0;
  padding: 0;
  color: $text-color;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

// Top Bar
.top-bar {
  background-color: $header-color;
  color: white;
  font-size: 0.9rem;
  height: 45px;

  .container {
    @include flex-center;
    justify-content: space-between;
    padding: 0.9rem 0;
  }

  .contact-info,
  .social-icons {
    @include flex-center;
    gap: 1rem;

    a {
      color: white;
      text-decoration: none;
      i {
        margin-right: 5px;
      }
    }
  }

  @include respond(mobile) {
    .container {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
    }
  }
}

// Header / Hero
.hero {
  background-image: url("src/main-img.png");
  background-size: cover;
  height: 95vh;
  header {
    padding: 1rem 0;

    .container {
      @include flex-center;
      justify-content: space-between;
      flex-wrap: wrap;

      .logo img {
        height: 60px;
      }

      nav {
        ul.nav-links {
          @include flex-center;
          gap: 3rem;
          list-style: none;
          padding: 0;

          li {
            a {
              text-decoration: none;
              color: black;
              font-weight: 500;
              padding-bottom: 4px;
              border-bottom: none;
              transition: all 0.3s ease;
            }

            &.active a {
              color: $header-color;
              border-bottom: 2px solid $header-color;
            }
          }
        }

        @include respond(mobile) {
          display: none;
        }
      }

      .mobile-menu-toggle {
        display: none;
        font-size: 1.5rem;
        color: black;
        cursor: pointer;

        @include respond(mobile) {
          display: block;
        }
      }
    }
  }

  .hero-content {
    padding: 2rem 0;
    max-width: 600px;

    .smile {
      width: 280px;
      height: 90px;
      margin-top: 150px;
      margin-left: 40px;
      margin-bottom: -50px;
    }

    .spec {
      font-size: 60px;
      color: black;
      span {
        color: $header-color;
        font-weight: 600;
      }

      @include respond(mobile) {
        font-size: 1.5rem;
      }
    }

    .p {
      max-width: 600px;
      margin-top: -30px;
      font-size: 16px;
      color: gray;
      line-height: 1.9;
    }

    .hero-buttons {
      display: flex;
      gap: 1rem;
      justify-content: center;
      flex-wrap: wrap;

      a {
        text-decoration: none;
        border-radius: 5px;
      }

      a.btn-primary1 {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 215px;
        height: 60px;
        font-size: 16px;
        color: white;
        background: #00a7d7;
        border: none;
        border-radius: 50px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        text-decoration: none;
        margin-left: -190px;

        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 0;
          width: 20px;
          height: 100%;
          background: rgba(0, 0, 0, 0.1);
          z-index: 0;
        }

        &::before {
          left: -3px;
          transform: skewX(30deg);
        }

        &::after {
          right: -3px;
          transform: skewX(30deg);
        }

        span {
          position: relative;
          z-index: 1;
        }

        .arrows {
          margin-left: 10px;
          font-size: 1.1em;
        }
      }

      a.btn-video {
        background-color: transparent;
        color: $text-blue;
        display: flex;
        align-items: center;
        font-weight: 600;

        .play {
          height: 60px;
          margin-right: 8px;
        }
      }
    }
  }
}

// Responsive breakpoints
@media (max-width: 1440px) {
  .hero-content {
    .smile {
      width: 280px;
      margin-left: 60px;
    }
    .spec {
      font-size: 50px;
    }
  }
}

@media (max-width: 1024px) {
  .hero {
    height: 650px;

    .hero-content {
      margin-left: 50px;
      margin-top: -50px;
      .smile {
        width: 200px;
        margin-left: 40px;
      }
      .spec {
        font-size: 40px;
      }
      .p {
        font-size: 16px;
      }
      .hero-buttons a.btn-primary1 {
        width: 180px;
        height: 45px;
        p {
          margin-left: 25px;
        }
      }
      .hero-buttons a.btn-video .play {
        height: 55px;
      }
    }
  }
}

@media (max-width: 768px) {
  .top-bar {
    height: 60px;
    font-size: 14px;
    .contact-info {
      @include flex-center;
      gap: 1rem;
      margin-left: 150px;

      a {
        color: white;
        text-decoration: none;
        i {
          margin-right: 5px;
        }
      }
    }
    .social-icons {
      margin-left: 280px;
    }
  }
  .hero {
    header {
      .container {
        .logo img {
          height: 40px;
        }
      }
    }
    .hero-content {
      .smile {
        height: 70px;
        width: 200px;
      }
      .spec {
        font-size: 50px;
      }
      .p {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 425px) {
  .top-bar {
    height: 65px;
    .contact-info {
      margin-left: 10px;
      font-size: 15px;
    }
    .social-icons {
      margin-left: 120px;
    }
  }

  .hero {
    height: 500px;
    .hero-content {
      margin-top: -150px;
      .smile {
        width: 200px;
        margin-left: 40px;
      }
      .spec {
        text-align: center;
        margin-top: 50px;
        font-size: 37px;
        margin-left: -50px;
      }
      .p {
        font-size: 14px;
        margin-left: -30px;
      }
      .hero-buttons {
        gap: 0.5rem;
        a.btn-primary1 {
          height: 45px;
          width: 160px;
          margin-left: -85px;
          p {
            font-size: 14px;
          }
        }
        a.btn-video .play {
          height: 45px;
        }
      }
    }
    .logo img {
      height: 50px;
    }
  }
}
@media (max-width: 375px) {
  .top-bar {
    .contact-info {
      font-size: 12px;
    }
  }
  .hero {
    .hero-content {
      .smile {
        margin-left: 10px;
      }
      .spec {
        font-size: 35px;
        margin-left: -60px;
        line-height: 1.5;
      }
      .p {
        margin-left: -50px;
        line-height: 1.3;
      }
    }
  }
}

@media (max-width: 320px) {
  .top-bar {
    height: 60px;
    .contact-info {
      margin-left: 8px;
      font-size: 10px;
    }
    .social-icons {
      margin-left: 80px;
    }
  }
  .hero {
    .hero-content {
      .smile {
        width: 150px;
        height: 50px;
      }
      .spec {
        font-size: 30px;
        margin-left: -55px;
      }
      .hero-buttons {
        a.btn-primary1 {
          height: 45px;
          width: 130px;
          margin-left: -70px;

          p {
            font-size: 12px;
            margin-left: 18px;
          }
        }
        a.btn-video .play {
          height: 40px;
        }
      }
    }
  }
}

.container2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 75px 0px;
  max-width: 1200px;
  margin: 0 auto;
  height: 500px;
  .left2 {
    flex: 1;
    margin-left: -50px;
    img {
      max-width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .right2 {
    padding-left: 0px;
    margin-left: 580px;

    .p1 {
      font-size: 18px;
      color: $header-color;

      margin-top: -520px;
    }

    .ul-union {
      display: flex;
      justify-content: space-between;
      margin: 20px 0;

      .underline1 {
        margin-top: -15px;
        height: 3px;

        width: 30px;
      }
    }

    .p2 {
      font-size: 36px;

      margin-top: -10px;

      span {
        color: $text-blue;
      }
    }

    .p3 {
      font-size: 14px;
      margin-bottom: 25px;
    }

    .r1 {
      display: flex;
      align-items: center;
      .r11 {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        margin-top: -115px;
      }
      .p3 {
        margin-top: -50px;
      }
    }

    .arrow {
      display: flex;
      align-items: center;
      cursor: pointer;
      margin-top: -55px;

      p {
        margin-right: 10px;
        font-size: 18px;
        color: $header-color;
      }

      .ar1 {
        width: 25px;
        height: 25px;
      }
    }
  }

  @media (max-width: 1024px) {
    height: 450px;
    .left2 {
      margin-left: 25px;
      img {
        height: 500px;
      }
    }

    .right2 {
      margin-left: 530px;
      margin-top: -20px;
      .p1 {
        font-size: 16px;
      }
      .p2 {
        font-size: 28px;
      }
      .p3 {
        margin-top: -5px;
        font-size: 14px;
      }
    }
    .r1 {
      .p3 {
        font-size: 12px;
      }
    }
  }

  @media (max-width: 768px) {
    height: 900px;
    display: block;

    .left2 {
      display: block;
      img {
        margin-left: 100px;
      }
    }

    .right2 {
      margin-top: 500px;
      margin-left: 120px;
      .p1 {
        font-size: 20px;
      }
      .p2 {
        font-size: 38px;
      }
      .p3 {
        font-size: 16px;
      }
      .r1 {
        display: flex;
        align-items: center;
        .r11 {
          width: 22px;
          height: 22px;
          margin-right: 10px;
          margin-top: -115px;
        }
        .p3 {
          margin-top: -50px;
        }
      }
    }
  }

  @media (max-width: 425px) {
    height: 950px;
    .left2 {
      display: block;
      img {
        margin-left: 8px;
        height: 350px;
      }
    }

    .right2 {
      margin-top: 500px;
      margin-left: 5px;

      .p3 {
        font-size: 15px;
      }

      .r1 {
        margin-left: 5px;
        .r11 {
          height: 25px;
          width: 25px;
          margin-left: -22px;
          margin-top: -130px;
        }
      }
    }
  }

  @media (max-width: 320px) {
    height: 650px;
    .left2 {
      margin-top: -50px;
      img {
        height: 260px;
        margin-left: 10px;
      }
    }

    .right2 {
      margin-left: 10px;
      .p1 {
        font-size: 12px;
      }
      .p2 {
        font-size: 20px;
      }

      .p3 {
        font-size: 12px;
      }

      .arrow {
        p {
          font-size: 14px;
        }
      }
    }
  }
}

.services-section {
  background-image: url("src/container3.png");
  padding: 60px 20px;
  background-color: #f9fbfd;
  margin-bottom: 50px;
  .head {
    margin-left: 0px;

    &-left {
      p {
        font-size: 20px;

        color: $header-color;
      }

      .ul-union {
        display: flex;
        gap: 5px;
        margin-top: -10px;
        margin-bottom: 5px;
        .underline1 {
          @include underline($text-orange);
        }

        .underline2 {
          @include underline($text-orange);
          width: 8px;
        }
      }
    }

    &-right {
      display: flex;

      .btn {
        .custom-btn {
          @include button;
          font-size: 18px;
          height: 60px;
          width: 280px;
          text-align: center;
        }
      }

      .p1 {
        margin-top: 7px;
        font-size: 32px;
        color: $text-blue;

        span {
          @include bold;
        }
      }
    }
  }

  .services-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;

    .service-card {
      background: #ffffff;
      border-radius: 5px;
      height: 320px;
      text-align: center;
      width: calc(33.333% - 16px);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
      transition: transform 0.3s ease;

      &:hover {
        transform: translateY(-6px);
      }

      .icon-circle {
        background-color: #e0f7fa;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        margin: 35px auto 16px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 40px;
          height: 40px;
        }
      }

      h3 {
        font-size: 20px;
        color: $text-blue;
        font-weight: 700;
        margin-bottom: 10px;
      }

      p {
        font-size: 16px;
        color: #818080;
        margin-bottom: 12px;
        padding: 5px;
        line-height: 1.5;
      }

      a {
        font-weight: 600;
        color: $header-color;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
          color: #ffb703;
        }
      }

      &.highlighted:hover {
        background: linear-gradient(to top, #018eb4 0%, #ffffff 185%);
        color: #fff;

        h3,
        p,
        a {
          color: #fff;
        }

        .icon-circle {
          background: $text-light;
        }
      }
    }

    @media (max-width: 1024px) {
      .service-card {
        width: calc(50% - 12px);
      }
    }

    @media (max-width: 600px) {
      .service-card {
        width: 100%;
      }
    }
  }
}
@media (max-width: 425px) {
  .services-section {
    .head {
      &-right {
        display: block;
        margin-bottom: 25px;
        .btn {
          margin-left: 0px;
          .custom-btn {
            height: 50px;
            max-width: 250px;
          }
        }
        .p1 {
          font-size: 24px;
        }
      }
    }
  }
}

.container4 {
  padding: 48px 16px;

  .container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .left2 {
    margin-top: -500px;

    .cc2 {
      max-width: 100%;
    }
  }

  .right2 {
    margin-left: 600px;
    .p1 {
      font-size: 15px;
      color: $header-color;
    }

    .ul-union {
      display: flex;
      gap: 4px;
      margin: 8px 0;

      .underline1,
      .underline2 {
        height: 2px;
        border-radius: 2px;
      }

      .underline1 {
        width: 40px;
        background-color: $text-orange;
      }

      .underline2 {
        width: 20px;
        background-color: $text-orange;
      }
    }

    .p2 {
      font-size: 32px;
      color: $text-blue;
      font-weight: 500;
      margin: 16px 0;

      span {
        color: $primary-color;
        font-weight: 600;
      }
    }

    .p3 {
      font-size: 16px;
      color: rgb(146, 146, 146);
      margin-bottom: -20px;
      line-height: 1.6;
    }

    .frame {
      display: flex;
      flex-direction: column;
      gap: 12px;

      &-part1,
      &-part2 {
        display: flex;

        gap: 70px;

        div {
          display: flex;
          align-items: center;
          gap: 8px;

          .F1-para,
          .F3-para {
            font-size: 16px;
            color: $text-blue;
            font-weight: 500;
          }
        }
      }

      .btn {
        margin-top: 24px;

        .custom-btn {
          padding: 18px 40px;
          background-color: #0da9d4;
          color: $text-light;
          border: none;
          border-radius: 35px;
          font-size: 16px;
          cursor: pointer;

          &:hover {
            background-color: darken($primary-color, 10%);
          }
        }
      }
    }
  }

  @media (max-width: 1024px) {
    .right2 {
      margin-left: 550px;
      .p1 {
        font-size: 12px;
      }
      .p2 {
        font-size: 22px;
      }
      .p3 {
        font-size: 12px;
      }
      .frame {
        .frame-part1,
        .frame-part2 {
          display: flex;

          gap: 40px;

          div {
            gap: 8px;

            .F1-para,
            .F3-para {
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    .container {
      display: block;
    }
    .right2 {
      margin-top: -75px;
      margin-left: 20px;
      .p1 {
        font-size: 15px;
      }
      .p2 {
        font-size: 32px;
      }
      .p3 {
        font-size: 15px;
      }
      .frame {
        &-part1,
        &-part2 {
          display: flex;

          gap: 40px;

          div {
            gap: 8px;

            .F1-para,
            .F3-para {
              font-size: 12px;
            }
          }
        }
      }
    }
    .left2 {
      .cc2 {
        margin-top: 550px;
        margin-left: 20px;
      }
    }
  }

  @media (max-width: 425px) {
    .right2 {
      margin-left: 0px;
      margin-left: -20px;
      .p1 {
        font-size: 15px;
      }
      .p2 {
        font-size: 26px;
      }
      .p3 {
        font-size: 12px;
      }
      .frame {
        &part1,
        &-part2 {
          display: flex;

          div {
            .F1-para,
            .F3-para {
              font-size: 12px;
            }
          }
        }
      }
    }
    .left2 {
      .cc2 {
        margin-top: 550px;
        margin-left: 0px;
      }
    }
  }
  @media (max-width: 375px) {
    .right2 {
      margin-left: 0px;
      margin-left: -20px;
      .p1 {
        font-size: 12px;
      }
      .p2 {
        font-size: 22px;
      }
      .p3 {
        margin-top: -10px;
        font-size: 10px;
      }
      .frame {
        margin-top: -50px;
        margin-bottom: -25px;

        .frame-part1 {
          display: block;
          div {
            .F1-para,
            .F3-para {
              font-size: 15px;
            }
          }
        }
        .frame-part2 {
          display: block;
          .F3 {
            margin-bottom: 15px;
          }
          div {
            .F1-para,
            .F3-para {
              font-size: 15px;
            }
          }
        }
        .btn {
          margin-top: 24px;

          .custom-btn {
            padding: 12px 55px;
          }
        }
      }
    }
  }

  @media (max-width: 320px) {
    .right2 {
      width: 240px;
      margin-left: -40px;
      .p1 {
        font-size: 12px;
      }
      .p2 {
        font-size: 22px;
      }
      .p3 {
        margin-top: -10px;
        font-size: 12px;
      }
      .frame {
        .frame-part1 {
          display: block;
          div {
            .F1-para,
            .F3-para {
              font-size: 15px;
            }
          }
        }
        .frame-part2 {
          div {
            .F1-para,
            .F3-para {
              font-size: 15px;
            }
          }
        }
        .btn {
          .custom-btn {
            padding: 12px 45px;
          }
        }
      }
    }
  }
}

.container5 {
  background-image: url(src/container5.png);
  background-repeat: no-repeat;
  height: 562px;

  .container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .right-part {
    display: flex;
    margin-left: -350px;
    &-r1 {
      margin-left: 360px;
      height: 370px;
      width: 533px;
    }

    .p1 {
      padding-top: 80px;
      font-size: 15px;
      color: white;
    }

    .p2 {
      margin-top: 10px;
      font-size: 30px;
      font-weight: 300;
      color: white;

      span {
        font-weight: 700;
        color: white;
      }
    }

    .ul-union {
      display: flex;
      gap: 5px;

      .underline1,
      .underline2 {
        height: 4px;
        background-color: $text-orange;
        border-radius: 2px;
      }

      .underline1 {
        max-width: 40px;
      }

      .underline2 {
        max-width: 8px;
      }
    }

    .para {
      margin-top: 20px;
      font-size: 15px;
      color: $text-light;
      line-height: 2;
    }

    .arrow {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 15px;
      color: $text-light;
      cursor: pointer;

      p {
        font-size: 14px;
        font-weight: 500;
      }

      .ar1 {
        width: 20px;
        height: auto;
      }
    }
  }

  .left-main {
    .left-part {
      display: flex;
      margin-top: 70px;

      &-1,
      &-2 {
        max-width: 280px;

        margin-left: 200px;
        img {
          width: 50px;
          margin-bottom: 10px;
        }

        .para1 {
          font-size: 18px;
          font-weight: 600;
          margin-bottom: 6px;
          color: $text-blue;
        }

        .para2 {
          font-size: 14px;
          color: gray;
          line-height: 1.8;
        }
      }

      &-2 {
        margin-left: 75px;
      }
    }

    .circular-stats {
      display: flex;
      justify-content: center;
      gap: 80px;
      padding: 20px;
      margin-left: 150px;
      margin-top: 20px;

      .circle {
        text-align: center;

        .progress-ring {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          background: conic-gradient(#ffa600 calc(80 * 1%), #e6f0fa 0);
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            width: 90px;
            height: 90px;
            background: white;
            border-radius: 50%;
          }

          .percentage {
            position: relative;
            color: #ffa600;
            font-weight: 600;
            font-size: 16px;
          }
        }

        p {
          margin-top: 10px;
          font-weight: 600;
          color: #0a2540;
          font-size: 13px;
        }
      }
    }
  }

  @media (max-width: 1440px) {
    max-width: 700px;
    .right-part {
      margin-left: -200px;
    }

    .left-main {
      margin-left: -50px;
    }
  }

  @media (max-width: 1024px) {
    max-width: 600px;
    .right-part {
      margin-left: -300px;
    }

    .left-main {
      .left-part {
        margin-top: 70px;

        &-1,
        &-2 {
          max-width: 160px;

          margin-left: 100px;
          img {
            width: 40px;
            margin-bottom: 8px;
          }

          .para1 {
            font-size: 15px;
          }

          .para2 {
            font-size: 12px;
          }
        }

        &-2 {
          margin-left: 75px;
        }
      }

      .circular-stats {
        gap: 43px;
        padding: 10px;
        margin-left: 100px;
        margin-top: 20px;

        .circle {
          text-align: center;

          .progress-ring {
            width: 70px;
            height: 70px;

            &::before {
              content: "";

              width: 60px;
              height: 60px;
            }
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    max-width: 100%;

    .right-part {
      display: block;
      margin-left: -250px;
    }

    .left-main {
      .left-part {
        margin-top: 200px;

        &-1,
        &-2 {
          max-width: 160px;

          margin-left: 450px;
          img {
            width: 50px;
            margin-bottom: 8px;
          }
        }

        &-2 {
          margin-left: 75px;
        }
      }

      .circular-stats {
        gap: 43px;
        padding: 10px;
        margin-left: 320px;
        margin-top: 20px;

        .circle {
          text-align: center;

          .progress-ring {
            width: 100px;
            height: 100px;

            &::before {
              content: "";

              width: 90px;
              height: 90px;
            }
          }
        }
      }
    }
  }
  @media (max-width: 425px) {
    max-width: 100%;

    .container {
      flex-direction: column;
      padding: 0 15px;
    }

    .right-part {
      flex-direction: column;
      margin-left: -10px;

      &-r1 {
        margin-left: 0;
        width: 100%;
        padding: 0 10px;
      }

      .p1 {
        padding-top: 40px;
        font-size: 18px;
      }

      .p2 {
        font-size: 28px;

        span {
          font-size: 28px;
        }
      }

      .para {
        font-size: 15px;
        line-height: 1.6;
      }

      .arrow {
        gap: 6px;

        p {
          font-size: 16px;
        }

        .ar1 {
          width: 18px;
        }
      }
    }

    .left-main {
      margin-top: 220px;

      .left-part {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-top: 40px;
        margin-left: 70px;
        text-align: center;

        &-1,
        &-2 {
          max-width: 90%;
          margin-left: 0;
          height: auto;

          img {
            width: 40px;
          }

          .para1 {
            font-size: 14px;
          }

          .para2 {
            font-size: 12px;
          }
        }
      }

      .circular-stats {
        align-items: center;
        margin-left: 50px;
        margin-top: 20px;
        gap: 25px;

        .circle {
          .progress-ring {
            width: 80px;
            height: 80px;

            &::before {
              width: 70px;
              height: 70px;
            }

            .percentage {
              font-size: 14px;
            }
          }

          p {
            font-size: 12px;
          }
        }
      }
    }
  }

  @media (max-width: 320px) {
    .right-part {
      max-width: 290px;
      .p1 {
        font-size: 15px;
      }
    }
  }
}

.container6 {
  background-image: url("src/container6.png");
  background-repeat: no-repeat;
  height: 700px;
  .container {
    max-width: 1200px;
    margin: auto;
    display: flex;
  }

  .main-bg {
    display: flex;

    .left-img {
      padding: 115px 0 0 30px;
    }

    .right-img {
      height: 504px; // 50.4rem
      width: 572px; // 57.2rem
      margin-top: 116px; // 11.6rem
      background-color: $text-blue;

      &-container {
        position: relative;
        width: 573px; // 57.3rem
        height: 0;
        background: #f0f0f0;
        border: 1px solid #ccc;
      }

      .triangle-corner {
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border-top: 170px solid #34c0dd; // 17rem
        border-left: 190px solid transparent; // 19rem

        .label {
          position: absolute;
          top: -140px; // -14rem
          right: 10px; // 1rem
          width: 100px;
          font-size: 25px; // 2.5rem
          font-weight: 500;
          color: white;
          text-align: center;
          transform: rotate(45deg);
          text-transform: uppercase;
          line-height: 1.2;
          pointer-events: none;
        }
      }

      &-text {
        .p1 {
          width: 500px; // 50rem
          padding-top: 100px; // 10rem
          padding-left: 20px; // 2rem
          font-size: 28px; // 2.8rem
          color: $text-light;

          span {
            color: $text-orange;
          }
        }

        .p2 {
          width: 550px; // 55rem
          color: $text-light;
          font-size: 16px; // 1.6rem
          padding-left: 20px;
          padding-top: 10px;
          line-height: 1.5;
        }

        .p3 {
          color: $text-light;
          padding-top: 15px; // 1.5rem
          padding-left: 20px; // 2rem
          font-size: 18px; // 1.8rem
        }
      }

      .right-img-wp {
        display: flex;
        gap: 15px;
        margin-top: -25px;

        &-left {
          margin-top: 30px; // 3rem
          margin-left: 20px; // 2rem
        }

        &-right {
          font-size: 30px; // 3rem
          color: $text-light;
          margin-top: 8px; // 4rem
        }
      }
    }
  }
  @media (max-width: 1024px) {
    height: 550px;
    .main-bg {
      margin-left: 40px;
      .left-img {
        img {
          height: 370px;
        }
      }
      .right-img {
        height: 370px;
        max-width: 370px;

        &-container {
          position: relative;
          width: 370px;
          height: 0;
          background: #f0f0f0;
          border: 1px solid #ccc;
        }
        .triangle-corner {
          position: absolute;

          border-top: 90px solid #34c0dd;
          border-left: 100px solid transparent;

          .label {
            position: absolute;
            top: -70px;
            right: -10px;
            width: 100px;
            font-size: 13px;
          }
        }
        &-text {
          .p1 {
            margin-top: -20px;
            max-width: 350px;
            font-size: 25px;
            color: $text-light;
          }

          .p2 {
            max-width: 350px;
            margin-top: -20px;
            font-size: 12px;
          }

          .p3 {
            color: $text-light;
            padding-top: 12px;
            padding-left: 20px;
            font-size: 18px;
          }
        }
      }
      .right-img-wp {
        display: flex;
        gap: 10px; // 1.5rem
        img {
          height: 35px;
        }

        &-right {
          p {
            margin-top: 25px;
            font-size: 20px;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    background: none;
    margin-top: 400px;
    height: 730px;

    .main-bg {
      display: block;
      margin-left: 150px;
      .left-img {
        img {
          margin-top: -50px;
          height: 300px;
        }
      }
      .right-img {
        margin-top: -6px;
        max-width: 340px;
        margin-left: 30px;
        &-container {
          position: relative;
          width: 340px; // 57.3rem
          height: 0;
          background: #f0f0f0;
          border: 1px solid #ccc;
        }
        &-text {
          .p1 {
            max-width: 320px;
            font-size: 22px;
          }

          .p2 {
            max-width: 320px;

            font-size: 11px;
          }

          .p3 {
            color: $text-light;

            font-size: 15px;
          }
        }
      }
    }
  }

  @media (max-width: 425px) {
    background: none;
    margin-left: -160px;
    margin-top: 500px;
    .main-bg {
      .left-img {
        img {
          height: 280px;
        }
      }
      .right-img {
        height: 400px;
        max-width: 320px;

        &-container {
          max-width: 320px;
        }
        &-text {
          .p1 {
            margin-top: -70px;
            font-size: 18px;
            max-width: 240px;
          }
          .p2 {
            max-width: 250px;
            font-size: 14px;
            line-height: 1.8;
          }
          .p3 {
            font-size: 21px;
          }
        }
      }
    }
  }
  @media (max-width: 375px) {
    margin-left: -175px;
    margin-top: 500px;
  }
  @media (max-width: 325px) {
    margin-left: 300px;
    margin-left: -185px;
    margin-top: 550px;
    .main-bg {
      .left-img {
        img {
          height: 250px;
        }
      }
      .right-img {
        height: 400px;
        max-width: 280px;

        &-container {
          max-width: 279px;
        }
        &-text {
          .p1 {
            margin-top: -60px;
          }
        }
      }
    }
  }
}

.container7 {
  max-width: 1120px;
  margin-top: 30px;
  height: 850px;
  .container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .head {
    margin-left: 330px;
    &-left {
      p {
        font-size: 20px;

        color: $header-color;
      }

      .ul-union {
        display: flex;
        gap: 5px;
        margin-top: 7px;

        .underline1 {
          @include underline($text-orange);
        }

        .underline2 {
          @include underline($text-orange);
          width: 8px;
        }
      }
    }

    &-right {
      display: flex;

      .btn {
        margin-left: 500px;

        .custom-btn {
          @include button;
          font-size: 18px;
          height: 60px;
          width: 200px;
          text-align: center;
          margin-left: 80px;
        }
      }

      .p1 {
        width: 300px;
        margin-top: 7px;
        font-size: 25px;
        color: $text-blue;

        span {
          @include bold;
        }
      }
    }
  }

  .maincard {
    display: flex;
    margin-top: 40px;
    gap: 25px;
    margin-left: 330px;

    &-card1 {
      @include cards;
      box-shadow: 0 10px 30px rgba(0, 136, 204, 0.2);

      .upper {
        border-bottom: 2px dashed rgb(230, 220, 220);

        .p1 {
          font-size: 28px;
          color: $text-blue;
          padding-left: 80px;
        }

        .p2 {
          color: $header-color;
          font-size: 16px;
          margin-left: 90px;
        }
      }

      .lower {
        p {
          font-size: 15px;
          color: gray;

          span {
            font-size: 45px;
            color: black;
            font-weight: 400;
            margin-left: 120px;
          }
        }

        &-lower1 {
          .tik1 {
            display: flex;
            margin: 8px;
            gap: 10px;

            img {
              height: 28px;
              padding-top: 10px;
            }
          }
        }

        button {
          @include bttn;
          margin-top: 0;
          color: $header-color;
          background-color: $btn-light;
        }
      }
    }

    &-card2 {
      @include cards;
      background: linear-gradient(to bottom right, #018eb4 30%, #ffffff 255%);
      box-shadow: 0 10px 30px rgba(0, 136, 204, 0.2);

      .upper {
        border-bottom: 2px dashed $text-light;
        color: $text-light;
        margin-bottom: 20px;

        .p1 {
          font-size: 28px;
          padding-left: 80px;
        }

        .p2 {
          font-size: 16px;
          margin-left: 90px;
          color: $text-light;
        }
      }

      .lower {
        p {
          font-size: 15px;
          color: $text-light;

          span {
            font-size: 45px;
            color: $text-light;
            font-weight: 400;
            margin-left: 120px;
          }
        }

        &-lower1 {
          .tik1 {
            display: flex;
            margin: 8px;
            gap: 10px;

            img {
              height: 28px;
              padding-top: 10px;
            }
          }
        }
      }

      button {
        @include bttn;
        background-color: $text-light;
        margin-top: 0;
      }
    }

    &-card3 {
      @include cards;
      box-shadow: 0 10px 30px rgba(0, 136, 204, 0.2);

      .upper {
        border-bottom: 2px dashed rgb(230, 220, 220);

        .p1 {
          font-size: 28px;
          padding-left: 80px;
          color: $text-blue;
        }

        .p2 {
          color: $header-color;
          font-size: 16px;
          margin-left: 90px;
        }
      }

      .lower {
        p {
          font-size: 15px;
          color: gray;

          span {
            font-size: 45px;
            color: black;
            font-weight: 400;
            margin-left: 120px;
          }
        }

        &-lower1 {
          .tik1 {
            display: flex;
            margin: 8px;
            gap: 10px;

            img {
              height: 28px;
              padding-top: 10px;
            }
          }
        }

        button {
          @include bttn;
          margin-top: 0;
          color: $header-color;
          background-color: $btn-light;
        }
      }
    }
  }
  @media (max-width: 1440px) {
    margin-left: -230px;
  }

  @media (max-width: 1024px) {
    margin-left: -330px;
    .head {
      &-left {
        p {
          font-size: 16px;
        }
      }
      &-right {
        .btn {
          margin-left: 320px;
        }
      }
    }
    .maincard {
      &-card1 {
        height: 520px;
        width: 300px;
        .upper {
          .p1 {
            font-size: 25px;
            margin-left: -10px;
          }
          .p2 {
            font-size: 13px;
            margin-top: -10px;
          }
        }
        .lower {
          p {
            font-size: 12px;

            span {
              font-size: 40px;
              margin-left: 100px;
            }
          }
          &-lower1 {
            .tik1 {
              img {
                height: 24px;
                padding-top: 8px;
              }
            }
          }
          button {
            height: 40px;
            width: 220px;
            margin-left: 30px;
          }
        }
      }
      &-card2 {
        height: 520px;
        width: 300px;
        .upper {
          .p1 {
            font-size: 25px;
            margin-left: -30px;
          }
          .p2 {
            font-size: 13px;
            margin-top: -10px;
          }
        }
        .lower {
          p {
            font-size: 12px;

            span {
              font-size: 40px;
              margin-left: 100px;
            }
          }
          &-lower1 {
            .tik1 {
              img {
                height: 24px;
                padding-top: 8px;
              }
            }
          }
          button {
            height: 40px;
            width: 220px;
            margin-left: 30px;
          }
        }
      }
      &-card3 {
        height: 520px;
        width: 300px;
        .upper {
          .p1 {
            font-size: 25px;
            margin-left: -30px;
          }
          .p2 {
            font-size: 13px;
            margin-top: -10px;
          }
        }
        .lower {
          p {
            font-size: 12px;

            span {
              font-size: 40px;
              margin-left: 100px;
            }
          }
          &-lower1 {
            .tik1 {
              img {
                height: 24px;
                padding-top: 8px;
              }
            }
          }
          button {
            height: 40px;
            width: 220px;
            margin-left: 30px;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    .head {
      margin-left: 300px;

      &-left {
        margin-left: 200px;
        p {
          font-size: 18px;
        }
      }
      &-right {
        display: block;
        margin-left: 200px;
        .btn {
          .custom-btn {
            margin-left: -320px;
            width: 320px;
          }

          .p1 {
            font-size: 20px;
          }
        }
      }
    }

    .maincard {
      display: block;
      padding-left: 180px;
      &-card1 {
        .upper {
          .p1 {
            padding-top: 30px;
          }
        }
      }
      &-card2 {
        .upper {
          .p1 {
            padding-top: 30px;
          }
        }
      }
      &-card3 {
        .upper {
          .p1 {
            padding-top: 30px;
          }
        }
      }
    }
  }
  @media (max-width: 425px) {
    margin-left: -490px;
  }
  @media (max-width: 375px) {
    margin-left: -515px;
  }
  @media (max-width: 320px) {
    margin-left: -555px;
    .head {
      padding-left: 13px;
      &-left {
        p {
          font-size: 16px;
        }
      }
      &-right {
        .btn {
          .custom-btn {
            height: 50px;
            width: 280px;
          }
        }
        .p1 {
          font-size: 24px;
        }
      }
    }
    .maincard {
      margin-top: 10px;
      margin-left: 350px;
      &-card1 {
        width: 290px;
      }
      &-card2 {
        width: 290px;
      }
      &-card3 {
        width: 290px;
      }
    }
  }
}

.container8 {
  background-color: #f7fafb;

  height: 900px;

  .container {
    max-width: 1200px;
    margin-left: 0px;
    display: flex;
    flex-wrap: wrap;
  }

  &-base {
    height: 743px;
    width: 1200px;

    margin-top: 80px;
    margin-left: 380px;

    .head {
      &-left {
        p {
          font-size: 23px;
          color: $header-color;
        }

        .ul-union {
          display: flex;
          gap: 5px;
          margin-top: 7px;

          .underline1 {
            @include underline($text-orange);
          }

          .underline2 {
            @include underline($text-orange);
            width: 8px;
          }
        }
      }

      &-right {
        display: flex;

        .btn {
          margin-left: 650px;

          .custom-btn {
            @include button;
            font-size: 22px;
            height: 60px;
            width: 250px;
            margin-left: -50px;
          }
        }

        .p1 {
          margin-top: 7px;
          font-size: 34px;
          color: $text-blue;

          span {
            @include bold;
          }
        }
      }
    }

    .maincard {
      display: flex;

      gap: 30px;

      &-card1 {
        @include Blog;
      }

      &-card2 {
        @include Blog;

        .border {
          border-bottom: 3px dashed rgb(226, 225, 225);
        }
      }

      &-card3 {
        @include Blog;

        &_para1 {
          p {
            font-size: 16px;
            color: gray;
          }
        }
      }
    }
  }
  @media (max-width: 1440px) {
    margin-left: -230px;
  }
  @media (max-width: 1024px) {
    &-base {
      .head {
        margin-left: -100px;
        &-left {
          p {
            font-size: 18px;
          }
        }
        &-right {
          .btn {
            margin-left: 500px;
          }
        }
      }
      .maincard {
        margin-left: -100px;
        &-card1 {
          height: 600px;
          width: 280px;

          img {
            height: 280px;
            width: 260px;
            margin-left: 10px;
            margin-top: 15px;
          }

          p {
            font-size: 22px;
            margin-left: 15px;
            margin-top: 10px;
          }

          .border {
            padding-bottom: 8px;
          }
          &_para1 {
            p {
              font-size: 15px;
              color: gray;
              line-height: 1.5;
            }
          }
        }
        &-card2 {
          height: 600px;
          width: 280px;

          img {
            height: 280px;
            width: 260px;
            margin-left: 10px;
            margin-top: 15px;
          }

          p {
            font-size: 22px;
            margin-left: 15px;
            margin-top: 10px;
          }

          .border {
            padding-bottom: 8px;
          }
          &_para1 {
            p {
              font-size: 15px;
              color: gray;
              line-height: 1.5;
            }
          }
        }
        &-card3 {
          height: 600px;
          width: 280px;

          img {
            height: 280px;
            width: 260px;
            margin-left: 10px;
            margin-top: 15px;
          }

          p {
            font-size: 22px;
            margin-left: 15px;
            margin-top: 10px;
          }

          .border {
            padding-bottom: 8px;
          }
          &_para1 {
            p {
              font-size: 15px;
              color: gray;
              line-height: 1.5;
            }
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    margin-top: 1050px;
    height: 1910px;
    &-base {
      .head {
        margin-top: -70px;
        &-left {
          margin-left: 200px;
        }
        &-right {
          display: block;
          .btn {
            .custom-btn {
              margin-left: -300px;
              height: 40px;
              font-size: 18px;
            }
          }
          .p1 {
            margin-left: 200px;
          }
        }
      }
      .maincard {
        display: block;
        margin-left: 80px;
        margin-top: 20px;
        &-card1 {
          height: 550px;
          width: 340px;
          margin-bottom: 18px;

          img {
            height: 280px;
            width: 320px;
            margin-left: 10px;
            margin-top: 15px;
          }

          p {
            font-size: 22px;
            margin-left: 15px;
            margin-top: 10px;
          }

          .border {
            padding-bottom: 8px;
          }
          &_para1 {
            p {
              font-size: 15px;
              color: gray;
              line-height: 1.5;
            }
          }
        }
        &-card2 {
          height: 550px;
          width: 340px;
          margin-bottom: 18px;

          img {
            height: 280px;
            width: 320px;
            margin-left: 10px;
            margin-top: 15px;
          }

          p {
            font-size: 22px;
            margin-left: 15px;
            margin-top: 10px;
          }

          .border {
            padding-bottom: 8px;
          }
          &_para1 {
            p {
              font-size: 15px;
              color: gray;
              line-height: 1.5;
            }
          }
        }
        &-card3 {
          height: 550px;
          width: 340px;
          margin-bottom: 18px;

          img {
            height: 280px;
            width: 320px;
            margin-left: 10px;
            margin-top: 15px;
          }

          p {
            font-size: 22px;
            margin-left: 15px;
            margin-top: 10px;
          }

          .border {
            padding-bottom: 8px;
          }
          &_para1 {
            p {
              font-size: 15px;
              color: gray;
              line-height: 1.5;
            }
          }
        }
      }
    }
  }
  @media (max-width: 425px) {
    background: none;
    &-base {
      margin-left: 200px;
    }
  }
  @media (max-width: 375px) {
    &-base {
      .head {
        margin-left: -140px;

        &-right {
          .btn {
            .custom-btn {
              margin-left: -300px;
              width: 320px;
              padding-bottom: 30px;
            }
          }
        }
      }
      .maincard {
        margin-left: 70px;
        &-card1 {
          width: 300px;
          img {
            width: 280px;
            height: 250px;
          }
        }
        &-card2 {
          width: 300px;
          img {
            width: 280px;
            height: 250px;
          }
        }
        &-card3 {
          width: 300px;
          img {
            width: 280px;
            height: 250px;
          }
        }
      }
    }
  }
  @media (max-width: 320px) {
    max-width: 100%;
    height: 1810px;
    margin-left: -240px;
    &-base {
      .head {
        &-right {
          .btn {
            .custom-btn {
              margin-left: -310px;
              max-width: 280px;
              padding-bottom: 30px;
            }
          }
        }
      }
      .maincard {
        margin-left: 50px;
        &-card1 {
          width: 280px;
          img {
            width: 260px;
          }
        }
        &-card2 {
          width: 280px;
          img {
            width: 260px;
          }
        }
        &-card3 {
          width: 280px;
          img {
            width: 260px;
          }
        }
      }
    }
  }
}

.container9 {
  padding: 80px 20px;

  .clients-section {
    background: url("src/map.png") no-repeat center center;
    background-size: cover;
    text-align: center;

    p {
      font-size: 16px;
      color: #00a6d6;
      margin-bottom: 10px;
    }
    .ul-union {
      display: flex;
      gap: 5px;
      margin-top: 7px;
      margin-left: 570px;
      .underline1 {
        @include underline($text-orange);
      }

      .underline2 {
        @include underline($text-orange);
        width: 8px;
      }
    }

    h2 {
      font-size: 32px;
      color: #1b2e59;
      font-weight: 500;
      margin-top: 0px;
      margin-bottom: 60px;

      span {
        font-weight: 900;
        color: #1b2e59;
      }
    }

    .testimonial-container {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: 30px;
      flex-wrap: wrap;
      position: relative;
      margin-top: -80px;

      .card1 {
        display: block;
        .testimonial-card {
          .card-content {
            height: 170px;
            p {
              padding-top: 18px;
              color: gray;
              line-height: 2;
            }
          }
        }

        img {
          margin-top: 75px;
        }
        h4 {
          font-size: 20px;
          margin-bottom: 5px;
        }
        span {
          color: gray;
          font-size: 15px;
        }
      }
      .card2 {
        display: block;
        .testimonial-card {
          .card-content {
            height: 170px;
            margin-top: 60px;
            p {
              padding-top: 15px;
              color: $text-light;
              line-height: 2;
            }
          }
        }

        img {
          margin-top: 35px;
        }
        h4 {
          font-size: 20px;
          margin-bottom: 5px;
        }
        span {
          color: gray;
          font-size: 15px;
        }
      }
      .card3 {
        display: block;
        .testimonial-card {
          .card-content {
            height: 170px;
            p {
              padding-top: 15px;
              color: gray;
              line-height: 2;
            }
          }
        }

        img {
          margin-top: 75px;
        }
        h4 {
          font-size: 20px;
          margin-bottom: 5px;
        }
        span {
          color: gray;
          font-size: 15px;
        }
      }
    }

    .testimonial-card {
      background: #ffffff;

      max-width: 360px;

      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
      position: relative;
      text-align: center;
      transform: translateY(40px); // push lower cards downward

      &::after {
        content: "";
        position: absolute;
        bottom: -12px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 12px solid #ffffff;
      }

      &.active {
        background: linear-gradient(to bottom right, #018eb4 30%, #ffffff 255%);
        transform: translateY(0); // raise center card
      }
    }

    .dots {
      margin-top: 60px;

      span {
        display: inline-block;
        width: 10px;
        height: 10px;
        background: #58c9e9;
        border-radius: 50%;
        margin: 0 6px;
      }
    }
  }

  @media (max-width: 375px) {
    max-width: 100%;
    .clients-section {
      .section-label {
        margin-left: -200px;
      }
      .testimonial-container {
        p {
          font-size: 15px;
        }
      }

      h2 {
        font-size: 24px;
        margin-left: -30px;
        span {
          font-weight: 800;
        }
      }

      .testimonial-card {
        max-width: 280px;
      }
    }
  }
  @media (max-width: 320px) {
  }
}

.newsletter-section {
  background-image: url("../src/bottom.png");
  color: $text-color;
  padding: 48px 16px;

  .container {
    display: flex;

    .stay {
      margin-left: 30px;
      h2 {
        font-size: 28.8px;
        margin-bottom: 8px;
      }

      p {
        margin-bottom: 16px;
      }
    }

    .news {
      .newsletter-form {
        @include flex(center, center);
        flex-direction: column;

        @media (min-width: 768px) {
          flex-direction: row;
        }

        input {
          padding: 18px 25px;
          border: none;
          border-radius: 5px;
          background-color: #42adca;
          min-width: 250px;
          margin-left: 150px;
          margin-top: 40px;

          @media (max-width: 767px) {
            border-radius: 5px;
            margin-bottom: 8px;
          }
        }
        ::placeholder {
          color: white;
          font-size: 16px;
        }

        button {
          background-color: $text-blue;
          color: $text-color;
          border: none;
          padding: 16px 25px;
          border-radius: 5px;
          margin-top: 40px;
          margin-left: 8px;
          cursor: pointer;
          font-size: 18px;
          @media (max-width: 767px) {
            border-radius: 5px;
          }

          &:hover {
            background-color: darken($primary-color, 10%);
          }
        }
      }
    }
  }
}

// Footer Main Section
.footer-main {
  background-color: $text-blue;
  color: $text-color;
  padding: 48px 16px;

  .container {
    @include flex(flex-start, flex-start);

    .footer-column {
      flex: 1 1 200px;
      margin: 26px;

      h3 {
        font-size: 22px;
        margin-bottom: 16px;
        position: relative;

        &::after {
          content: "";
          display: block;
          width: 40px;
          height: 4px;
          background-color: $header-color;
          margin-top: 10px;
        }
      }

      p {
        font-size: 16px;
        line-height: 24px;
        color: rgb(199, 194, 194);
        line-height: 1.6;
      }
      .contact-info {
        color: rgb(199, 194, 194);
        line-height: 2;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          margin-bottom: 8px;
          font-size: 16px;

          i {
            margin-right: 8px;
            color: $accent-color;
          }

          span {
            float: right;
          }

          a {
            color: $footer;
            text-decoration: none;
            line-height: 1.8;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      .post-item {
        @include flex(flex-start, flex-start);
        margin-bottom: 16px;

        img {
          width: 70px;
          height: 70px;
          object-fit: cover;
          margin-right: 13px;
        }

        div {
          p {
            margin: 0;

            a {
              color: $footer;
              font-size: 12px;
              text-decoration: none;

              &:hover {
                color: $link-color;
              }
            }
          }

          span {
            font-size: 12.8px;
            color: $header-color;
          }
        }
      }

      &.opening-hours {
        ul {
          color: $footer;
          margin-right: 35px;
          li {
            margin: 20px 0px;
          }
          span {
            color: $header-color;
            margin-left: -10px;
          }
        }
      }
    }
  }
}

// Footer Bottom
.footer-bottom {
  background-color: darken($text-blue, 3%);
  text-align: center;
  padding: 1px;
  color: $footer;
  font-size: 17px;
  border-top: 1px solid #405e7a;
}

@media (max-width: 425px) {
  .newsletter-section {
    .container {
      display: block;
      .news {
        .newsletter-form {
          input {
            margin-left: 0px;
          }
          button {
            margin-left: 0;
            padding: 14px 105px;
            margin-top: 0px;
          }
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .newsletter-section {
    .container {
      display: block;
      .news {
        .newsletter-form {
          input {
            margin-left: -20px;
          }
          button {
            margin-left: 0;

            margin-left: -20px;
          }
        }
      }
    }
  }
  .footer-main {
    .container {
      .footer-column {
        margin: 0px;
      }
    }
  }

  .footer-bottom {
    font-size: 15px;
  }
}
