.right2 {
  margin: -30px 0 0 320px;
  padding: 25px;
}
.right2 .p1 {
  font-size: 15px;
  color: #008cba;
}
.right2 .p2 {
  font-size: 30px;
  font-weight: 300;
  color: #0c2d4e;
}
.right2 .p2 span {
  font-weight: 700;
  color: #0c2d4e;
}
.right2 .p3 {
  padding-bottom: 40px;
  font-size: 16px;
  font-weight: 400;
  color: #6c7a89;
  line-height: 1.6;
  font-size: 14px;
  margin-top: 22px;
  line-height: 2;
}
.right2 .ul-union {
  display: flex;
  gap: 5px;
}
.right2 .ul-union .underline1 {
  width: 40px;
  height: 2.5px;
  background-color: #ffa903;
  border-radius: 2px;
  margin-top: 4px;
}
.right2 .ul-union .underline2 {
  width: 40px;
  height: 2.5px;
  background-color: #ffa903;
  border-radius: 2px;
  margin-top: 4px;
  width: 8px;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.top-bar {
  background-color: #008cba;
  color: white;
  font-size: 0.9rem;
  height: 40px;
}
.top-bar .container {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 0.5rem 0;
}
.top-bar .contact-info,
.top-bar .social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.top-bar .contact-info a,
.top-bar .social-icons a {
  color: white;
  text-decoration: none;
}
.top-bar .contact-info a i,
.top-bar .social-icons a i {
  margin-right: 5px;
}
@media (max-width: 768px) {
  .top-bar .container {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
}

header {
  padding: 1rem 0;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
header .container .logo img {
  height: 60px;
}
header .container nav ul.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  list-style: none;
  padding: 0;
}
header .container nav ul.nav-links li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding-bottom: 4px;
  border-bottom: none;
  transition: all 0.3s ease;
}
header .container nav ul.nav-links li.active a {
  color: #008cba;
  border-bottom: 2px solid #008cba;
}
@media (max-width: 768px) {
  header .container nav {
    display: none;
  }
}
header .container .mobile-menu-toggle {
  display: none;
  font-size: 1.5rem;
  color: black;
  cursor: pointer;
}
@media (max-width: 768px) {
  header .container .mobile-menu-toggle {
    display: block;
  }
}

@media (max-width: 768px) {
  .top-bar {
    height: 60px;
    font-size: 18px;
  }
  .top-bar .contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-left: 150px;
  }
  .top-bar .contact-info a {
    color: white;
    text-decoration: none;
  }
  .top-bar .contact-info a i {
    margin-right: 5px;
  }
  .top-bar .social-icons {
    margin-left: 280px;
  }
  header .container .logo img {
    height: 40px;
  }
}
@media (max-width: 425px) {
  .top-bar {
    height: 60px;
  }
  .top-bar .contact-info {
    margin-left: 10px;
    font-size: 15px;
  }
  .top-bar .social-icons {
    margin-left: 120px;
  }
}
@media (max-width: 320px) {
  .top-bar {
    height: 60px;
  }
  .top-bar .contact-info {
    margin-left: 8px;
    font-size: 12px;
  }
  .top-bar .social-icons {
    margin-left: 80px;
  }
}
.banner {
  background-image: url("imgs/banner_section.png");
  height: 300px;
  max-width: 100%;
}
.banner-div {
  display: block;
  margin-left: 750px;
}
.banner-div h1 {
  margin-top: -10px;
  font-size: 35px;
  justify-content: center;
  padding-top: 130px;
  margin-bottom: 0;
}
.banner-div p {
  margin-left: 60px;
}
.banner-div p a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.banner-div p span {
  color: rgb(7, 222, 208);
}
@media (max-width: 1440px) {
  .banner-div {
    margin-left: 550px;
  }
}
@media (max-width: 1024px) {
  .banner-div {
    margin-left: 320px;
  }
}
@media (max-width: 768px) {
  .banner-div {
    margin-left: 180px;
  }
}
@media (max-width: 425px) {
  .banner-div {
    text-align: center;
    margin-left: 0px;
  }
  .banner-div p {
    margin-left: 10px;
  }
}
@media (max-width: 320px) {
  .banner-div {
    text-align: center;
    margin-left: -2px;
  }
  .banner-div p {
    margin-left: 10px;
  }
  .banner-div p a {
    font-family: 10px;
  }
}

.container6 {
  padding: 70px 0px;
  height: 930px;
}
.container6 .main {
  align-items: center;
  justify-content: space-between;
  max-width: 1140px;
  margin: 0 auto;
  height: 598px;
  margin-top: 30px;
}
.container6 .main-box {
  margin-top: 40px;
  gap: 30px;
  display: flex;
}
.container6 .main-box_1 {
  height: 420px;
  background-color: #f1f9fc;
  transition-duration: 0.5s;
  max-width: 263px;
  border-bottom: 2px solid #018eb4;
}
.container6 .main-box_1 .p1 {
  color: #0c2d4e;
  margin-left: 70px;
  margin-bottom: -10px;
  font-size: 20px;
}
.container6 .main-box_1 .p2 {
  color: #008cba;
  margin-left: 85px;
  font-size: 16px;
  font-weight: 600;
}
.container6 .main-box_2 {
  height: 420px;
  background-color: #f1f9fc;
  transition-duration: 0.5s;
  max-width: 263px;
  border-bottom: 2px solid #018eb4;
}
.container6 .main-box_2 .p1 {
  color: #0c2d4e;
  margin-left: 70px;
  margin-bottom: -10px;
  font-size: 20px;
}
.container6 .main-box_2 .p2 {
  color: #008cba;
  margin-left: 85px;
  font-size: 16px;
  font-weight: 600;
}
.container6 .main-box_3 {
  height: 420px;
  background-color: #f1f9fc;
  transition-duration: 0.5s;
  max-width: 263px;
  border-bottom: 2px solid #018eb4;
}
.container6 .main-box_3 .p1 {
  color: #0c2d4e;
  margin-left: 70px;
  margin-bottom: -10px;
  font-size: 20px;
}
.container6 .main-box_3 .p2 {
  color: #008cba;
  margin-left: 85px;
  font-size: 16px;
  font-weight: 600;
}
.container6 .main-box_3 .opacity {
  margin-top: -280px;
}
.container6 .main-box_3 .icon {
  display: flex;
  color: #0c2d4e;
  font-size: 30px;
  margin-left: 60px;
  gap: 15px;
}
.container6 .main-box_4 {
  height: 420px;
  background-color: #f1f9fc;
  transition-duration: 0.5s;
  max-width: 263px;
  border-bottom: 2px solid #018eb4;
}
.container6 .main-box_4 .p1 {
  color: #0c2d4e;
  margin-left: 70px;
  margin-bottom: -10px;
  font-size: 20px;
}
.container6 .main-box_4 .p2 {
  color: #008cba;
  margin-left: 85px;
  font-size: 16px;
  font-weight: 600;
}
@media (max-width: 1024px) {
  .container6 .main {
    margin-left: 60px;
  }
  .container6 .main .head-left p {
    font-size: 16px;
  }
  .container6 .main .head-right .p1 {
    font-size: 24px;
  }
  .container6 .main .head-right .btn {
    margin-left: 780px;
  }
  .container6 .main .head-right .btn .custom-btn {
    width: 200px;
  }
  .container6 .main-box {
    gap: 10px;
  }
  .container6 .main-box_1 {
    max-width: 220px;
  }
  .container6 .main-box_1 img {
    max-width: 220px;
  }
  .container6 .main-box_1 .p1 {
    margin-left: 30px;
  }
  .container6 .main-box_1 .p2 {
    margin-left: 40px;
  }
  .container6 .main-box_2 {
    max-width: 220px;
  }
  .container6 .main-box_2 img {
    max-width: 220px;
  }
  .container6 .main-box_2 .p1 {
    margin-left: 30px;
  }
  .container6 .main-box_2 .p2 {
    margin-left: 40px;
  }
  .container6 .main-box_3 {
    max-width: 220px;
  }
  .container6 .main-box_3 img {
    max-width: 220px;
  }
  .container6 .main-box_3 .opacity {
    margin-top: -235px;
  }
  .container6 .main-box_3 .p1 {
    margin-left: 30px;
  }
  .container6 .main-box_3 .p2 {
    margin-left: 40px;
  }
  .container6 .main-box_3 .icon {
    margin-left: 30px;
  }
  .container6 .main-box_4 {
    max-width: 220px;
  }
  .container6 .main-box_4 img {
    max-width: 220px;
  }
  .container6 .main-box_4 .p1 {
    margin-left: 30px;
  }
  .container6 .main-box_4 .p2 {
    margin-left: 40px;
  }
}
@media (max-width: 768px) {
  .container6 {
    height: 3410px;
  }
  .container6 .main {
    margin-left: 10px;
  }
  .container6 .main .head-left {
    margin-left: 140px;
  }
  .container6 .main .head-right {
    display: block;
    margin-left: 140px;
  }
  .container6 .main .head-right .btn {
    margin-left: 70px;
    margin-top: 30px;
  }
  .container6 .main .head-right .btn .custom-btn {
    width: 500px;
  }
  .container6 .main .head-right .p2 {
    max-width: 570px;
  }
  .container6 .main-box {
    display: block;
    margin-left: 250px;
    margin-top: -40px;
  }
  .container6 .main-box_1 {
    max-width: 265px;
    margin-bottom: 15px;
  }
  .container6 .main-box_1 img {
    max-width: 350px;
  }
  .container6 .main-box_1 .p1 {
    margin-left: 60px;
  }
  .container6 .main-box_1 .p2 {
    margin-left: 75px;
  }
  .container6 .main-box_2 {
    max-width: 265px;
    margin-bottom: 15px;
  }
  .container6 .main-box_2 img {
    max-width: 350px;
  }
  .container6 .main-box_2 .p1 {
    margin-left: 60px;
  }
  .container6 .main-box_2 .p2 {
    margin-left: 75px;
  }
  .container6 .main-box_3 {
    max-width: 265px;
    margin-bottom: 15px;
  }
  .container6 .main-box_3 img {
    max-width: 350px;
  }
  .container6 .main-box_3 .opacity {
    margin-top: -280px;
  }
  .container6 .main-box_3 .p1 {
    margin-left: 60px;
  }
  .container6 .main-box_3 .p2 {
    margin-left: 75px;
  }
  .container6 .main-box_3 .icon {
    margin-left: 60px;
  }
  .container6 .main-box_4 {
    max-width: 265px;
    margin-bottom: 15px;
  }
  .container6 .main-box_4 img {
    max-width: 350px;
  }
  .container6 .main-box_4 .p1 {
    margin-left: 60px;
  }
  .container6 .main-box_4 .p2 {
    margin-left: 75px;
  }
}
@media (max-width: 425px) {
  .container6 {
    margin-left: -120px;
  }
  .container6 .main {
    margin-left: 5px;
  }
  .container6 .main .head-right .btn {
    margin-left: 70px;
    margin-top: 30px;
  }
  .container6 .main .head-right .btn .custom-btn {
    width: 350px;
  }
  .container6 .main-box {
    margin-left: 200px;
  }
}
@media (max-width: 375px) {
  .container6 .main .head-right .btn {
    margin-left: 50px;
    margin-top: 30px;
  }
  .container6 .main .head-right .btn .custom-btn {
    width: 300px;
  }
  .container6 .main-box {
    margin-left: 170px;
  }
}
@media (max-width: 320px) {
  .container6 .main .head-right .btn {
    margin-left: 50px;
    margin-top: 30px;
  }
  .container6 .main .head-right .btn .custom-btn {
    width: 260px;
  }
  .container6 .main-box {
    margin-left: 145px;
  }
}

.newsletter-section {
  background-image: url("../src/bottom.png");
  color: #ffffff;
  padding: 48px 16px;
}
.newsletter-section .container {
  display: flex;
}
.newsletter-section .container .stay {
  margin-left: 30px;
}
.newsletter-section .container .stay h2 {
  font-size: 28.8px;
  margin-bottom: 8px;
}
.newsletter-section .container .stay p {
  margin-bottom: 16px;
}
.newsletter-section .container .news .newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
@media (min-width: 768px) {
  .newsletter-section .container .news .newsletter-form {
    flex-direction: row;
  }
}
.newsletter-section .container .news .newsletter-form input {
  padding: 18px 25px;
  border: none;
  border-radius: 5px;
  background-color: #42adca;
  min-width: 250px;
  margin-left: 150px;
  margin-top: 40px;
}
@media (max-width: 767px) {
  .newsletter-section .container .news .newsletter-form input {
    border-radius: 5px;
    margin-bottom: 8px;
  }
}
.newsletter-section .container .news .newsletter-form ::-moz-placeholder {
  color: white;
  font-size: 16px;
}
.newsletter-section .container .news .newsletter-form ::placeholder {
  color: white;
  font-size: 16px;
}
.newsletter-section .container .news .newsletter-form button {
  background-color: #0c2d4e;
  color: #ffffff;
  border: none;
  padding: 16px 25px;
  border-radius: 5px;
  margin-top: 40px;
  margin-left: 8px;
  cursor: pointer;
  font-size: 18px;
}
@media (max-width: 767px) {
  .newsletter-section .container .news .newsletter-form button {
    border-radius: 5px;
  }
}
.newsletter-section .container .news .newsletter-form button:hover {
  background-color: rgb(7.6442307692, 29.0480769231, 45.3557692308);
}

.footer-main {
  background-color: #0c2d4e;
  color: #ffffff;
  padding: 48px 16px;
}
.footer-main .container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.footer-main .container .footer-column {
  flex: 1 1 200px;
  margin: 26px;
}
.footer-main .container .footer-column h3 {
  font-size: 22px;
  margin-bottom: 16px;
  position: relative;
}
.footer-main .container .footer-column h3::after {
  content: "";
  display: block;
  width: 40px;
  height: 4px;
  background-color: #008cba;
  margin-top: 10px;
}
.footer-main .container .footer-column p {
  font-size: 16px;
  line-height: 24px;
  color: rgb(199, 194, 194);
  line-height: 1.6;
}
.footer-main .container .footer-column .contact-info {
  color: rgb(199, 194, 194);
  line-height: 2;
}
.footer-main .container .footer-column ul {
  list-style: none;
  padding: 0;
}
.footer-main .container .footer-column ul li {
  margin-bottom: 8px;
  font-size: 16px;
}
.footer-main .container .footer-column ul li i {
  margin-right: 8px;
  color: #00bcd4;
}
.footer-main .container .footer-column ul li span {
  float: right;
}
.footer-main .container .footer-column ul li a {
  color: rgb(199, 194, 194);
  text-decoration: none;
  line-height: 1.8;
}
.footer-main .container .footer-column ul li a:hover {
  text-decoration: underline;
}
.footer-main .container .footer-column .post-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 16px;
}
.footer-main .container .footer-column .post-item img {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 13px;
}
.footer-main .container .footer-column .post-item div p {
  margin: 0;
}
.footer-main .container .footer-column .post-item div p a {
  color: rgb(199, 194, 194);
  font-size: 12px;
  text-decoration: none;
}
.footer-main .container .footer-column .post-item div p a:hover {
  color: #56ccf2;
}
.footer-main .container .footer-column .post-item div span {
  font-size: 12.8px;
  color: #008cba;
}
.footer-main .container .footer-column.opening-hours ul {
  color: rgb(199, 194, 194);
  margin-right: 35px;
}
.footer-main .container .footer-column.opening-hours ul li {
  margin: 20px 0px;
}
.footer-main .container .footer-column.opening-hours ul span {
  color: #008cba;
  margin-left: -10px;
}

.footer-bottom {
  background-color: rgb(9.96, 37.35, 64.74);
  text-align: center;
  padding: 1px;
  color: rgb(199, 194, 194);
  font-size: 17px;
  border-top: 1px solid #405e7a;
}

@media (max-width: 425px) {
  .newsletter-section .container {
    display: block;
  }
  .newsletter-section .container .news .newsletter-form input {
    margin-left: 0px;
  }
  .newsletter-section .container .news .newsletter-form button {
    margin-left: 0;
    padding: 14px 105px;
    margin-top: 0px;
  }
}
@media (max-width: 320px) {
  .newsletter-section .container {
    display: block;
  }
  .newsletter-section .container .news .newsletter-form input {
    margin-left: -5px;
  }
  .newsletter-section .container .news .newsletter-form button {
    margin-left: 0;
    margin-left: -20px;
  }
  .footer-main .container .footer-column {
    margin: 0px;
  }
  .footer-bottom {
    font-size: 15px;
  }
}/*# sourceMappingURL=team.css.map */